* {
    box-sizing: border-box;
}

body {
    transition: 0.5s;
}

nav {
    display: flex;
    background-color:white;
    padding: 2vh;
    max-width: 50%;
}

nav h1 {
    color: rgb(224, 164, 161);
    justify-content: center;
    margin: 0 auto;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 900;
}

h2 {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
}

.title-slide {
    display: flex;
    height: 100vh;
    max-width: auto;
}

.slide-text-5050-split {
    max-width: 50%;
    height: 100vh;
    justify-content: center;
    padding: 8vh;
    z-index: 1;
}

.slide-image-title {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    background-image: url("../images/190815_Italy-trip_1002331.jpg");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

/* .slide-image-title {
    background-image: url("../images/190815_Italy-trip_1002291.jpg");
} */